@import "tailwindcss";
@import "./theme.css" layer(theme);
@custom-variant dark (&:where(.dark, .dark *));


::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color-night-surface);
    border: 2px solid transparent;
    border-radius: 10px;
}